.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navigation ul {
  display: flex;
}

.navigation-item {
  position: relative;

  padding: 20px 10px;

  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 15px;
    left: 10px;

    width: 0;
    height: 1px;

    background-color: currentcolor;

    transition: width 0.15s ease;

    content: "";
  }

  &:hover::after {
    width: calc(100% - 20px);
  }
}
